build/
project/boot/
project/plugins/project/
project/plugins/target/
project/target/
target/
project/boot/*
project/plugins/project/*
project/plugins/target/*
project/target/*
target/*
.idea
.idea/*
.classpath
.project
.target/
.cache
logs/*
.settings/
checkpointDir/
